{template 'content','head'}
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- //Page Banner  -->
    <!-- == Main Content ==-->
    <div class="news-detail-body">
        <div class="banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="{APP_PATH}">首页</a></li>
                            <li>>></li>
                            <li><a href="">{catpos($catid, ' | ')} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        {pc:content action="lists" catid="$catid"}
            <div class="row">
            
               {loop $data $r}
                <div class="col-md-4">
                    <div>
                    	<h4>{$r['title']}</h4>
                    	<div>
                    	<a href="{$r['url']}"><img src="{$r['thumb']}" alt=""></a>
                    	</div>
                    	
                    	<p>{$r['description']}</p>
                    	
                    	<div>
                    		<a href="{$r['url']}"><i class="pull-right">下载：</i><span style="height:50px;color:lightgreen;font-size:25px;" class="glyphicon glyphicon-download-alt pull-right" aria-hidden="true"></span></a>
                    		
                    	</div>
                    </div>
                    {/loop}
                </div>
                 {/pc}
                <div class="col-md-6">
                   
                </div>
            </div>
        </div>
    </div>
    <!--// Main Content -->
    <!-- == Footer==-->
    <!-- // End Footer middle -->
    <!-- == Footer bar three == -->
       {template 'content','foot'}